.services_section {
  padding-bottom: 5rem;
  p {
    font-size: 1.05rem;
    color: #868a9b;
    line-height: 1.5rem;
  }

  .service_cntr {
    padding: 2rem;
    background-color: #fff;
    border-radius: 2px;
    margin-top: 4rem;
    transition: all 0.5s ease-in-out;
    margin-right: 0.75rem;
    svg {
      width: 5rem;
      height: auto;
      object-fit: contain;
      margin-bottom: 1.5rem;
    }
    h2 {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }
    p {
      min-height: 10rem;
      text-wrap: pretty;
    }
  }

  .service_cntr:hover {
    background-color: #24252b;
    svg,
    p,
    h2 {
      color: #fff;
    }
  }
}

@media only screen and (max-width: 660px) {
  .services_section {
    padding-top: 5rem;
    .service_cntr {
      margin-top: 2rem;
      margin-right: 0;
    }
  }
}
