.project__section {
    position: relative;
}

.project__tickerTop,
.project__tickerBottom {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: transparent;
    pointer-events: none;
    overflow: hidden;
    width: 100%;
}

.project__tickerTop {
    top: 2rem;
}

.project__tickerBottom {
    bottom: 2rem;
}

.project__tickerList {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-size: 4rem;
    font-weight: 600;
    color: #e1e1e1;
    white-space: nowrap;
    padding: 1rem 0;
    will-change: transform;
}

.project__tickerListItem {
    font-size: 4rem;
    text-transform: uppercase;
    list-style: none;
    width: 100%;
    text-wrap: nowrap;
    opacity: 1;
    font-family: "Michroma", sans-serif !important;
    color: transparent;
    -webkit-text-stroke: 2px #a4a4a4;
    text-stroke: 2px #a4a4a4;
}

.project__imageWrapper {
    position: relative;
    height: auto;
}

.project__imageBox {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects__link {
    display: block;
    width: 60%;
    height: auto;
    position: relative;
    border-radius: 8px;
    background: #a9a9a9;
    padding: 1rem;
}

.projects__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}