@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* scroll-behavior: auto !important; */
  --color: #e8e8e8;
}

::-webkit-scrollbar {
  /* display: none; */
}

html,
body {
  overflow-x: hidden;
}

body {
  cursor: url("/assets/icons/cursor_dot.svg"), auto;
  /* -ms-overflow-style: none; */
  /* scrollbar-width: none; */
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  background-size: 55px 55px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #282828;
  line-height: 100%;
  margin-bottom: 1rem;
}

a,
p,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #282828;
}

.main {
  background-color: #f4f5f7;
}

.container {
  max-width: 1140px !important;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  max-width: 100%;
}


.swiper__projects {
  width: 100%;
  height: 100%;
}

.project__section {
  padding-bottom: 8rem;

  .project__desp {
    font-size: 1rem;
    font-weight: 400;
    color: #868a9b;
    line-height: normal;
  }
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  .swiper__projects {
    margin-top: 5rem;
    width: calc(100% - 2rem);
    margin: 0 auto;

    .swiper-pagination {
      background-color: #222222;
      border: 1px solid #cecece;
      padding-top: 4px;
      padding-bottom: 10px;
      border-radius: 2rem;

      width: fit-content !important;
      padding-right: 1rem;
      padding-left: 1rem;
      left: calc(50% - 62px) !important;
    }

    .swiper-wrapper {
      padding-bottom: 3.5rem;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 4px;
      border-radius: 0px;
      background-color: #888888;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: #fff;
    }
  }

  .project__section {
    padding-bottom: 2rem;
  }
}