:root {
  scroll-behavior: auto !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  cursor: url("/assets/icons/cursor_dot.svg"), auto;
  -ms-overflow-style: none;
  scrollbar-width: none;



  --color: #E1E1E1;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  background-size: 55px 55px;
}

::-webkit-scrollbar {
  display: none;
}


a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #282828;
  line-height: 100%;
  margin-bottom: 1rem;
}


.main {
  background-color: #f4f5f7;
}



.container {
  max-width: 1140px !important;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}