.header {
  position: relative;
  width: 100%;
  background-color: transparent;

  .navbar {
    z-index: 2;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo_cntr {
      img {
        width: 2.5rem;
        height: auto;
      }
    }

    .link_cntr {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      padding: 0.5rem;


      backdrop-filter: blur(10px);
      background-color: #e9ebef;
      border: 1px solid #7d7d7d2b;
      border-radius: 8rem;

      a:hover {
        color: #fff;
        cursor: url("/assets/icons/cursor_touch_white.svg"), auto;
      }
    }
  }

  .navbar__mob {
    display: none;
  }
}

.menuTrigger__btn {
  background-color: #fff;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: 3rem;
  line-height: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: .5px solid #18191d;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.menuClose__btn {
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
}

.ui_btn {
  --btn-default-bg: rgb(41, 41, 41);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 0.7s;
  --btn-shadow-color: #24252b;
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #222;
  --default-btn-color: #fff;
}

.ui_btn {
  box-sizing: border-box;
  padding: 0.5rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: transparent;
  border: 1px solid #222;
  border-radius: 2rem;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  font-size: 0.9rem;
  color: #222;
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:last-child {
    margin-right: unset;
  }

  span {
    letter-spacing: 0px;
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
    line-height: 100%;
    font-weight: 600;

    &::before {
      box-sizing: border-box;
      position: absolute;
      content: "";
      background: inherit;
    }
  }

  &:hover,
  &:focus {
    background: #222;

    span {
      color: #fff;

      &::before {
        animation: chitchat linear both var(--btn-animation-duration);
      }
    }
  }
}

@keyframes chitchat {
  0% {
    content: "ac";
  }

  5% {
    content: "zx";
  }

  10% {
    content: "hfj";
  }

  15% {
    content: "gtr";
  }

  20% {
    content: "mez";
  }

  25% {
    content: "tow";
  }

  30% {
    content: "fu";
  }

  35% {
    content: "bjk";
  }

  40% {
    content: "ml";
  }

  45% {
    content: "dsw";
  }

  50% {
    content: "lkb";
  }

  55% {
    content: "mrf";
  }

  60% {
    content: "kfc";
    right: 0;
  }

  65% {
    content: "bk";
    right: 0;
  }

  70% {
    content: "zy";
    right: 0;
  }

  75% {
    content: "'wy";
    right: 0;
  }

  80% {
    content: "ki";
    right: 0;
  }

  85% {
    content: "y";
    right: 0;
  }

  90% {
    content: "x";
    right: 0;
  }

  95% {
    content: "z";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}

@media only screen and (max-width: 660px) {
  .header {
    .navbar {
      top: 1rem;
      right: 1rem;

      .link_cntr {
        gap: 0.75rem;
      }
    }

    .navbar__mob {
      display: none;
    }
  }

  .menuTrigger__btn {
    background-color: transparent;
    border: unset;
  }

  // .menuTrigger__btn svg {
  //   animation: rotateGun 6s linear infinite;
  //   transform-origin: center;
  // }

  .menuClose__btn {
    width: 1.5rem;
  }

  .ui_btn {
    font-size: .8rem;
  }

  @keyframes rotateGun {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}