.footer_section {
  padding: 6rem 0;
  // background-color: #fff;

  .contact_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;

    .contact_col {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h6 {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: normal;
        margin-bottom: 0.5rem;
        color: #222;
      }

      a {
        color: #868a9b;
        font-size: 1rem;
        line-height: normal;
      }

      .icon_row {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;

        a {
          svg {
            width: 2rem;
            height: 2rem;
            border: 0.5px solid #222;
            border-radius: 2rem;
            padding: 0.5rem;
            transition: all 0.3s ease-in-out;
          }

          &:hover {
            svg {
              background-color: #222;

              path {
                fill: #fff;
              }
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  .footer_section {
    padding: 2rem 0;

    .contact_row {
      grid-template-columns: 1fr;
      gap: 2rem;

      .contact_col {
        h6 {
          font-size: 1rem;
        }

        a {
          font-size: .8rem;
        }
      }
    }
  }
}