.section_one {
  background-color: #e0e0e0;
  border-radius: 1rem;
  padding: 2.5rem 0;
  margin-bottom: 5rem;
  //   height: 90vh;

  .image_cntr {
    position: relative;
    img {
      width: 100%;
      height: auto;
      visibility: visible;
      animation-name: border-transform;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      -webkit-animation: border-transform 10s linear infinite alternate forwards;
      animation: border-transform 10s linear infinite alternate forwards;
      border-radius: 100%;
      transition-delay: 0.3s;
    }
  }

  .text_cntr {
    margin-left: -6rem;
    z-index: 0;
    position: relative;
    margin-right: 3rem;

    h1 {
      font-size: 4.5rem;
      line-height: 80%;
      margin-bottom: 0;
      font-weight: 800;
      text-transform: uppercase;
      color: #18191d;
    }
    h6 {
      margin-top: 1rem;
      font-size: 1.5rem;
      color: #18191d;
    }
    p {
      color: #868a9b;
      margin-top: 1rem;
    }

    .download_btn {
      color: #18191d;
      button {
        background: #fff;
        border: none;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 600;
        width: fit-content;
        text-transform: uppercase;
        cursor: pointer;
        transform: skew(0);
        font-family: inherit;
        margin-top: 2rem;
        border-radius: 3rem;
        box-shadow: 20px 20px 40px #a9a9a9, -20px -20px 40px #cecece;
        position: relative;
      }
      button::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 100%;
        opacity: 0;
        z-index: -1;
        transition: all 0.5s;
        border-radius: 3rem;
        background: rgb(20, 20, 20);
      }
      span {
        display: inline-block;
        transform: skew(0);
        font-family: inherit;
      }
      svg {
        width: 1.25rem;
        height: 1.25rem;
        margin-left: 0.5rem;
      }
      button:hover {
        color: #fff;
      }
      button:hover::before {
        left: 0;
        right: 0;
        opacity: 1;
      }
    }
  }
}

@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@media only screen and (max-width: 660px) {
  .section_one {
    margin-bottom: 0;
    border-radius: 0;
    .image_cntr {
      margin-top: 3rem;
    }
    .text_cntr {
      margin: 2rem 0;
      text-align: center;
      h1 {
        font-size: 15vw;
      }
      p {
        padding: 0 5vw;
      }
      .download_btn {
        button {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
}
